include README.md
include LICENSE
include CHANGELOG.md
recursive-include glacier_list *.py
recursive-include tests *.py
recursive-include docs *.md *.rst *.txt *.py
recursive-include examples *.py *.md
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
